<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <listener>
        <listener-class>org.craftsmenlabs.gareth.rest.listener.GarethServletContextListener</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>GarethJersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>GarethJersey</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>